{% extends 'base.html' %}
{% block content %}
    {% if not current_user.is_authenticated %}
    <div class="container mt-5"> <!-- Adds a top margin and centers content -->
        <div class="d-flex justify-content-start mb-4"> <!-- Ensures button is aligned to the start and adds bottom margin -->
            <a href="/" class="btn btn-primary">Torna indietro</a>
        </div>

        <div class="col-4 offset-md-4 bg-light p-4 border rounded">
            <!-- The following is the action "/login" which in the app.py is @app.route('/login') -->

            <form action="/login" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <!-- The following is the label Email -->
                    <label for="emailInput" class="form-label">Email</label>
                    <!-- The following is the input that goes under the name "email" -->
                    <input type="text" class="form-control" name="email" id="emailInput">
                    <div id="user_typeHelp" class="form-text">We will never share your email with third parties</div>
                </div>

                <div class="mb-3">
                    <!-- The following is the label -->
                    <label for="passwordInput" class="form-label">Password</label>
                    <!-- The following is the input that goes under the name "password" -->
                    <input type="password" class="form-control" name="password" id="passwordInput">
                    <div id="passwordHelp" class="form-text">Your password will be safe in our hands</div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Log in</button>
                <small>Don't you have an account? <a href="/signup">Sign up</a></small>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}